footer * {
    transition-duration: 0s;
}
.footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #A6ADBA;
    background-color: #242933;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

li {
    list-style: none;
}

.footer_light {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.light {
    background-color: white;
}

.creditcard{
    width:350px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    margin-right: 35px;
}
.creditcard img {
    height:28px;
}

.sns {
    width: 200px;
    display: flex;
    justify-content: space-around;
}