/* ProductPage */
.productContainer,
.productContainer * {
  transition-duration: 0s;
}
.productContainer {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  @media (min-width: 1025px) {
    .productContainer {
      padding-bottom: 2rem;
      padding-top: 1.25rem;
    }
    
  }
  @media (min-width: 1280px) {
    .productContainer {
      max-width: 1280px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    
  }
  @media (min-width: 1360px) {
    .productContainer {
      max-width: 1360px;
    }
  }
  
  /* ProductInfo */
  
  .breadcrumbs {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0;
  }
  .breadcrumbs ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .breadcrumbs li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .breadcrumbs li + li::before {
    content: '';
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: var(--bs-gray-600);
    transform: rotate(45deg);
    margin-left: 0.5rem;
    margin-right: 0.75rem;
  }
  
  .productInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.5em;
    padding: 0;
  }
  
  .productImgBg {
    background-color: var(--bs-white);
    padding: 1rem;
    margin: 0;
    min-width: 20rem;
    height: 20rem;
    border-radius:1rem;
    flex-shrink: 0;
    overflow: hidden;
  }
  
  .productImg {
    margin: auto auto;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 18rem;
    object-fit: contain;
  }
  
  .productCardBody{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 0.5rem;
  }
  
  .cardTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .cardBadgeNew {
    width: fit-content;
    padding-left: 0.563rem;
    padding-right: 0.563rem;
    border-width: 1px;
    border-radius: 1.9rem;
    margin-left: 0.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--bs-white);
    background-color: var(--bs-teal);
  }

  .ratingInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  
  .price {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  
  .cardActions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
  }
  
  .btnAni {
    animation: click 0.5s linear ;
  }
  
  @keyframes click {
    20% {
      transform: scale(0.95,0.95);
    }
  
    80% {
      transform: scale(1.05,1.05);
    }
  
    100% {
      transform: scale(1,1);
    }
  }
  
  
  @media (max-width: 1025px) {
    .productInfoContainer {
      flex-direction: column;
      padding: 1rem;
    }
  
    .productImgBg {
      width: 100%;
    }
  
    .productCardBody{
      padding: 2rem 0;
    }
    
  }