.align_center {
    max-width: 800px;
    margin: 10% auto;
    text-align: center;
}
.align_center > h1 {
    font-size: 8rem;
    font-weight: 800;
    color: lightgray;
}
.align_center > h2 {
    color: lightgray;
}
.App_light h1,
.App_light h2 {
    color: black;
}